/*navbar*/
.navbar{
    overflow: hidden;
    background-color: #555;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /*links inside navbar*/
  .navbar a{
    float: left;
    display: block;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    color: white;
  }

  /*Add a background color when mouse-over*/
  .navbar a:hover{
    background-color: #000;
  }
  
  /*Change the color of the current page*/
  .navbar a.active{
    background-color: red;
  }